@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body
{
    overflow-x: hidden;
}
.navigation
{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #333;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.navigation.active
{
    left: 0;
}
.banner
{
    position: relative;
    width: 50%;
    height: 100%;

}
.cover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navLink
{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.navLink ul{
    position: relative;
    width: 100%;

}
.navLink ul li{
    position: relative;
    list-style: none;

}
.navLink ul li a
{
    position: relative;
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;
    margin: 5px 0;
    margin-left: 100px;
    display: inline-block;
    text-decoration: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navLink ul li a:hover
{
    color: rgb(248, 55, 255);
}
/*pag2*/
.sec
{
    position: relative;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;

}
.sec.active
{
    left: 100%;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: 0.5s;
}
.toggle
{
    position: relative;
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0);
}


.toggle::before
{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: rgba(63, 63, 63, 0.719);
    transform: translateY(-6px);
    transition: 0.5s;
}
.toggle::after
{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: rgba(63, 63, 63, 0.719);
    transform: translateY(6px);
    transition: 0.5s;
}
.toggle.active
{
    left: -200px;
}
.toggle.active::before
{
    transform: translateY(0px) rotate(45deg);
    background: rgb(255, 255, 255);
}
.toggle.active::after
{
    transform: translateY(0px) rotate(-45deg);
    background: #fff;
}
.btn
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background: rgba(244, 0, 252, 0.781);
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1px;
}
.btn:hover
{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px -3px 10px 5px rgba(191,0,255,0.42); 
box-shadow: 0px 10px 13px -7px #000000, 0px -3px 10px 5px rgba(191,0,255,0.42);
}
.sec .imgBx
{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.sec .content
{
    max-width: 700px;
    margin-left: 40px;
}
.sec .content h2
{
    font-weight: 500;
    letter-spacing: 1px;
    color: #777;
    line-height: 2.5em;
}
.sec .content h2 span
{
    font-weight: 700;
    color: rgb(0, 183, 255);
    font-size: 3em;
}
.sec .content p
{
    color: #777;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.sec .content .btn
{
    background: rgb(0, 183, 255);
}
footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    
    padding: 20px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sci
{
    position: relative;
    display: flex;
    align-items: center;
}

.sci li
{
    list-style: none;
}
.sci li a
{
    position: relative;
    margin-right: 20px;
    display: inline-block;
    transform: scale(0.75);
    opacity: 0.9;
}
.sci li a:hover
{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px -3px 10px 5px rgba(191,0,255,0.42); 
box-shadow: 0px 10px 13px -7px #000000, 0px -3px 10px 5px rgba(191,0,255,0.42);
border-radius: 50%;
}
.copyrightText
{
    font-weight: 500;
    color: #777;
    letter-spacing: 1px;
}

/*responsivo*/

@media (max-width: 991px)
{
    .sec
    {
        padding: 40px;
        flex-direction: column;
        justify-content: center;
    }
    header,
    footer
    {
        padding: 20px 40px;
    }
    .sec .imgBx
    {
        width: 300px;
        min-width: 300px;
        height: 300px;
        margin-top: 100px;
    }
    .sec .content
    {
        margin-bottom: 100px;
        margin-left: 0px;
        max-width: 100%;
    }
    footer
    {
        flex-direction: column;
        align-items:flex-start;
    }
    .sec .content h2 span
    {
        font-size: 2em;
    }
    .banner
    {
        display: none;
    }
    .navLink
    {
        width: 100%;
    }
    .toggle.active
    {
        left: -120px;
    }
    .navLink ul li a
    {
        font-size: 1.5em;
        margin-left: 50px;
    }
}