@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');
.bg-full
{
    background-color: #424242;
    color: #9569fd;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}
.size
{
    font-size: 30px;
    list-style: none;
}
.card
{
    -webkit-box-shadow: -1px 0px 15px 4px rgba(235,14,255,0.49); 
    box-shadow: -1px 0px 15px 4px rgba(235,14,255,0.49);
}
