
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

.bg-test
{
    background-color: #424242;
    color: #9569fd;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
}
.card 
{
    background-color: #424242 !important;
}
.videomf
{
    max-width: 100%;
}
.col-6
{
padding-right: 0px !important;
}
.card:hover
{
    -webkit-box-shadow: -1px 0px 15px 4px rgba(235,14,255,0.49); 
    box-shadow: -1px 0px 15px 4px rgba(235,14,255,0.49);
}

.btn-primary
{
    background-color: #9569fd !important;
    border-color: rgb(109, 177, 255)!important;
}
.btn-primary:hover
{
    -webkit-box-shadow: -1px 0px 15px 4px rgba(235,14,255,0.49); 
    box-shadow: -1px 0px 15px 4px rgba(235,14,255,0.49);
}